body{
     background-color:burlywood;
}

.titulo{
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

nav ul{
     list-style-type: none;
     color: white;
     display: flex;
     gap: 2rem;
}

nav a{
     color: white;
     text-decoration: none;
}